<div class="footer">
    <div class="footer-title">
        Hugs,
    </div>
    <div class="footer-text">
        Do you have any doubt? Contact us via the app chat or call 0800 555 2222.
    </div>
    <div class="footer-text">
        <strong>Ombudsman:</strong> If you are not satisfied with our customer service team's solution,
        call 0800 888 2222 on weekdays, from 9 am to 6 pm, São Paulo time.
    </div>

    <div class="footer-social-networks">
        <a class="footer-social-networks" href="http://www.facebook.com/" target="_blank">
            <img class="footer-social-networks" src="https://s3.amazonaws.com/ss-usa/companies/MzawMDExMzS2AAA/uploads/Nubank/facebook_60.png" data-imagetype="External">
        </a>
        <a class="footer-social-networks" href="https://twitter.com/" target="_blank">
            <img class="footer-social-networks" src="https://s3.amazonaws.com/ss-usa/companies/MzawMDExMzS2AAA/uploads/Nubank/twitter_60.png" data-imagetype="External">
        </a>
        <a class="footer-social-networks" href="http://www.instagram.com/" target="_blank">
            <img class="footer-social-networks" src="https://s3.amazonaws.com/ss-usa/companies/MzawMDExMzS2AAA/uploads/Nubank/instagram_60.png" data-imagetype="External">
        </a>
        <a class="footer-social-networks" href="https://www.youtube.com/" target="_blank">
            <img class="footer-social-networks" src="https://s3.amazonaws.com/ss-usa/companies/MzawMDExMzS2AAA/uploads/Nubank/youtube_60.png" data-imagetype="External">
        </a>
    </div>

    <div class="footer-unscribe">
        If you no longer wish to receive our emails, <a class="footer-unscribe" href="#">unsubscribe.</a>
    </div>
</div>