<div class="support-footer">
    <div class="footer-title">
        Hi,
    </div>
    <div class="footer-text">
        We have detected a processing problem in one of our robots.
    </div>
    <div class="footer-text">
        We still don't know if it was just a mistake, an attempted attack or fraud.
    </div>
    <div class="footer-text">
        So I ask for manual intervention to evaluate the problem. In case of doubts or major problems, contact your superior.
    </div>
    <div class="footer-text">
        Sincerely, email processing robot: RabbitMQ.EmailNotifier.
    </div>
</div>