<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{#title#}</title>

    <style>
        {#css-style#}
    </style>
</head>

<body>
    <div class="main">
        <div class="container">

            {#partial-header#}

            <div class="content">
                <div class="client-first-name">
                    Hi, {#client-first-name#}
                </div>
                <div class="action">
                    Your reversal of {#value#} has been confirmed.
                </div>
                <div class="subtitle">
                    Payment identifier
                </div>
                <div class="subtitle-values">
                    {#id#}
                </div>
                <div class="subtitle">
                    Value
                </div>
                <div class="subtitle-values">
                    {#value#}
                </div>
                <div class="subtitle">
                    Chargeback day
                </div>
                <div class="subtitle-values">
                    {#reversal-date#}
                </div>
                <div class="payment-schedules">
                    To know the timetable for paying your bills through your LS Code account,
                    access our "Frequently Asked Questions" page within the "Help Me" option of your app.
                </div>
            </div>

            {#partial-footer#}

        </div>
    </div>
</body>
</html>