<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{#title#}</title>

    {#css-style#}
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <div class="brand">
                    LS
                </div>
                <div class="long-title">
                    {#title#}
                </div>
            </div>

            <div class="content">
                <div class="greetings">
                    Hi, we detected a problem
                </div>
                <div class="action">
                    We have detected that one of our reversals has reached the maximum number of possible processing attempts.
                </div>
                <div class="subtitle">
                    Payment identifier
                </div>
                <div class="subtitle-values">
                    {#paymentId#}
                </div>
                <div class="subtitle">
                    Queue Log Information
                </div>
                <div class="queue-log">
                    {#queue-log-information#}
                </div>
            </div>

            {#partial-footer-support#}

        </div>
    </div>
</body>
</html>